<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edyjr.medicosapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pacientes.ModificarPaciente"></activity>
        <activity android:name=".Pacientes.EliminarPaciente" />
        <activity android:name=".Pacientes.BuscarPaciente" />
        <activity android:name=".Pacientes.ListarPaciente" />
        <activity android:name=".Pacientes.AgregarPaciente" />
        <activity android:name=".Pacientes.GestionarPacientes" />
        <activity
            android:name=".Actividades.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.AddEditMedicoActivity"
            android:label="@string/title_activity_add_edit_medico"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Actividades.MedicoDetailActivity"
            android:label="@string/title_activity_medico_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>